extends layout

block content
    div.unflex.flex-horizontal.main-header.no-scroll

        div.unflex.main-menu-icon.main-menu-launcher.clickable(ng-click="showMainMenu = !showMainMenu")

        div.full-flex.text-single-line.title
            | {{ application.title || 'Please Wait...' }}

        div.unflex.main-menu-icon.option-menu-launcher.clickable(ng-click="showOptionsMenu = !showOptionsMenu")

    div.full-flex.flex-vertical.main-view.auto-scroll

        sidebar-menu.main-menu(anchor="left", menu-title="Main Menu", launcher='.main-menu-launcher', show-menu="showMainMenu", options="application.mainMenu")

        sidebar-menu.options-menu(anchor="right", menu-title="{{ optionsMenuTitle || 'Options Menu' }}", launcher='.option-menu-launcher', show-menu="showOptionsMenu", options="application.optionsMenu")

        notification-popup(time-to-live="userSettings.notificationTtl", notification="notification")

        audio.main-audio

        div.top-view.full-flex.flex-vertical(ui-view, class="{{ application.state }}")

    div.unflex.main-footer
        | {{ application.statusText }}
