<input type="file" ng-show="false">

<!-- Image chooser carousel -->
<div class="full-flex carousel-panel absolute-anchor">

    <!-- This overlay catches mouse pointer events while drag and drop events are active   -->
    <!-- In order to prevent spurious dragleave events from occurring when the mouse lands -->
    <!-- on child elements -->
    <div class="drop-zone overlay"></div>
    
    <!-- Image slides -->
    <div 
        ng-repeat="slide in slides" 
        ng-if="slide.active"
        class="slide-image full-flex overlay" 
        ng-class="{'selected': slide.active}"
        style="background-image: url('{{slide.image}}')"
    >
        <!-- Caption with image name -->
        <div class="overlay carousel-caption">
            <p>{{ slide.text }}</p>
        </div>
    
        <!-- Controls to add/remove images; hidden until user mouses over this panel -->
        <div class="overlay hide-not-hovered" >
            <div class="flex-horizontal" nf-if="(slide.image) && (!readOnly)">
                <div class="unflex new-slide-button clickable margin5"
                        show-if-authorized="manage resources"
                        authorize-on="{{ loadedCollection._id}}"
                        ng-click="showFileChooser($event)">
                    <i class="clickable fa fa-lg fa-border fa-plus invert-general-icon"></i>
                </div>
    
                <div class="full-flex"></div>
    
                <div class="unflex delete-slide-button clickable margin5"
                        show-if-authorized="manage resources"
                        authorize-on="{{ loadedCollection._id}}"
                        ng-click="promptDelete($event)">
                    <i class="clickable fa fa-lg fa-border fa-minus invert-general-icon"></i>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Control Panel -->
    <div class="carousel-controls previous-slide" ng-if="(state.view == 'slides') && (slides.length > 0)">
            <i class="fa fa-3x fa-chevron-left clickable" ng-click="showPreviousSlide()"></i>
    </div>

    <div class="carousel-controls next-slide" ng-if="(state.view == 'slides') && (slides.length > 0)">
        <i class="fa fa-3x fa-chevron-right clickable" ng-click="showNextSlide()"></i>
    </div>

    <!-- No slides available message -->
    <div class="full-flex carousel-panel"  ng-if="(state.view == 'slides') && (slides.length == 0)">
        <div class="slide-image selected full-flex overlay" style="background-image: url('{{state.panelImage}}')">
            <div class="overlay carousel-caption full-centered-container">
                <p>
                    It appears that there is nothing here.
                    <br/>
                    <br/>
                    <a ng-click="showFileChooser()">Add an image</a>
                </p>
            </div>
        </div>
    </div>
    
    <!-- Custom message from controller -->
    <div class="full-flex carousel-panel"  ng-if="state.view == 'message'">
        <div class="slide-image selected full-flex overlay" style="background-image: url('{{state.panelImage}}')">
            <div class="overlay carousel-caption full-centered-container">
                <p>{{state.prompt}}</p>
            </div>
        </div>
    </div>
    
    <!-- Prompt for delete -->
    <div class="full-flex carousel-panel"  ng-if="state.view == 'prompt'">
        <div class="slide-image selected full-flex overlay" style="background-image: url('{{state.panelImage}}')">
            <div class="overlay carousel-caption full-centered-container">
                <p>{{state.prompt}}</p>
                <div class="distribute-center margin10">
                    <md-button class="md-raised md-primary  clickable margin5" ng-click="doDelete()">Yes</md-button>
                    <md-button class="md-raised md-primary  clickable margin5" ng-click="showSlides()">No</md-button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Loading screen -->
    <div class="full-flex carousel-panel"  ng-if="state.view == 'loading'">
        <div class="slide-image selected full-flex overlay" style="background-image: url('{{state.panelImage}}')">
            <div class="overlay carousel-caption full-centered-container">
                <p>{{state.prompt}}</p>
                <i class="fa fa-3x fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>

    <!-- Error message -->
    <div class="full-flex carousel-panel"  ng-if="state.view == 'error'">
        <div class="slide-image selected full-flex overlay" style="background-image: url('{{state.panelImage}}')">
            <div class="overlay carousel-caption full-centered-container">
                <p class="validation-error">{{state.prompt}}</p>
                <div class="distribute-center margin10">
                    <md-button class="md-raised md-primary  clickable margin5" ng-click="showSlides()">OK</md-button>
                </div>
            </div>
        </div>
    </div>    

</div>

