<div style="background-color: white; border: 2px solid black; display: inline-block;">
    <img src="cid:banner@mail.d20server" style="width:100%; margin-bottom: 50px;">

    <div style="padding: 5px;">
        <h1>Sorry, {{ user.nickname }} </h1>

        <br />

        <p style="margin-top: 10px;">
            {{ admin.nickname }} has banned you from the server for the following reason:
        </p>

        <br />

        <p style="margin-top: 5px;">
            {{ reason }}
        </p>

        <br />

    </div>

</div>
